:root {
  --font-family: "IBM Plex mono";
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --rec-decor-visibility: visible;
  --title-decor: var(--title-shadow);
  --section-title-color: var(--title-shadow);
  --subsection-title-color: var(--background-color);
  --corners-color: var(--title-shadow);
  --link-shadow: var(--title-shadow);
  --border-color: var(--main-text-color);
  --theme-button-color: var(--title-shadow);
}

